@import url(style/header.css);
@import url(style/banner.css);
@import url(style/carrosel.css);
@import url(style/topico.css);
@import url(style/contato.css);
@import url(style/rodape.css);

:root{
    --cor-de-fundo:#EBECEE;
    --cor-branca:#ffffff;
    --cor-laranja:#EB9B00;
    --cor-gradiente-azul:linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal:"poppins";
    --cor-azul:#002F52;
    --fonte-secundaria:"josefin sans";
    --cor-preta:#000000;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
